
.custom-select{
    width:100%;
    padding:10px;
}

.add-btn{
  border:none;
  height:46px;
  padding:10px 2px;
  min-width:250px;
  margin:0 auto;
}

@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-datepicker/bootstrap-datepicker3.min";
@import "../../../node_modules/ng2-datetime/src/vendor/bootstrap-timepicker/bootstrap-timepicker.min";
@import "../../../node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker";
@import "../../../node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
@import "../../../node_modules/bootstrap-select/dist/css/bootstrap-select";
@import "../../../node_modules/jasny-bootstrap/dist/css/jasny-bootstrap";
@import "../../../node_modules/dropzone/dist/dropzone";
@import "../scss/variables";
@import "../scss/mixins";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../scss/select2-variables";
@import "../../../node_modules/select2/src/scss/core";
@import "../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap";
