<div id="snackbar"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="table-responsive">          
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Product Name</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Assigned To</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let order of AssignedItems;let i=index">
                              <td>{{i}}</td>
                              <td>{{order.ProductName}}</td>
                              <td>{{order.Quantity}}</td>
                              <td>{{order.Price}}</td>
                              <td>
                                    <select class="selectType" (change)="getSelectedUser(order,$event.target.value)">
                                      <option disabled selected>Select User</option>
                                      <option *ngFor="let user of allEmployees" value="{{user._id}}">{{user.FullName}}</option>
                                    </select>
                            </td>
                            </tr>
                          </tbody>
                        </table>
                        </div>
        </div>
    </div>
</div>